/* .menu {
    position: relative;
    background: #f1f1f1;
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu ul li {
    display: inline-block;
  }
  
  .menu > ul > li > a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
  }
  
  .menu .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #f1f1f1;
    display: none;
  }
  
  .menu .submenu li a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
  }
  
  .menu ul li:hover > .submenu {
    display: block;
  }
  
  .menu .submenu li:hover {
    background: #ddd;
  }
  
  .menu .submenu li:hover a {
    color: #000;
  }
   */

   .burger-menu {
    display: none;
}

.burger-menu__border_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.burger-menu__border {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 4px;
}

.burger-menu ul {
    display: none;
    list-style: none;
    padding: 0;
}

.burger-menu ul.submenu {
    margin-left: 10px;
}

.burger-menu li {
    position: relative;
}

.burger-menu li a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}
.menu-open ul {
    display: block;
}

.submenu-open {
    max-height: 500px; /* высота, которую вы считаете подходящей */
}